
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
  </div>
  <nav class="navbar navbar-dark bg-dark d-flex nav-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1>sb</h1>
    <div class="logo">
      <div class="circle"><p class="logo-text">I</p></div>
      <div class="circle"><p class="logo-text">P</p></div>
      <div class="circle"><p class="logo-text">S</p></div>
      <div class="circle"><p class="logo-text">A</p></div>
      
    </div>
  </nav>
</div>